<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Static Pages</title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="/stylesheets/bootstrap.min.css" th:href="@{/stylesheets/bootstrap.min.css}">
    <link rel="stylesheet" media="screen" href="/stylesheets/custom.css" th:href="@{/stylesheets/custom.css}">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
    <script src="/javascripts/jquery-1.12.2.min.js" th:src="@{/javascripts/jquery-1.12.2.min.js}" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" th:src="@{/javascripts/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div th:replace="layout/_header :: header">Header Menu</div>

	<div class="container">
		<div layout:fragment="content">
			<!-- page content goes here -->
		</div>

	<div th:replace="layout/_footer :: footer">Footer Menu</div>
	</div>
</body>
</html>


